<!-- Add names to Pair List -->
<h2>Current attendees:
<p><% @names.each do |name| %>
	<%= name %> <!-- JOIN not working here -->
<% end %></h2> 
<h2>Possible pairs:
  <% @pairs.each_with_index do |pname, i| %>
<p><%= i+1 %>: <%= pname.join(" - ") %>
<% end %></h2>
