<!-- Append names to Pair List -->
<h3> Please enter additional names and hit 'Append' again.</h3>
	<!-- Alte Werte werden nicht übernommen -->
<h2> Current attendees:
<p><%= @@arr %> - arr
<p><%= @aparr %> - aparr
<p><%= @exar %> - exar

